<!doctype html>
<style>
    .welcome {
	  width: 100%;
	  text-align: center;
	  background-color: mediumpurple;
	  margin-top: 30px;
	  margin-bottom: 30px;
	}
	img {
	  border-radius: 50%;
	}
	p {
	  font-size: 20px;
	}
    a {
      padding: 20px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  background: #3B5998;
      color: mediumpurple;
	  border-radius: 8px;
	 font-size: 25px;
   }
</style>
<html  lang="english">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <title>Home</title>
</head>
<body style ="background-color:lightskyblue">
<h1 style="background-color:mediumpurple;">

<img src="{{url_for('static', filename='/Image/AntonLendingLogo.png')}}"
     alt="Anton Lending Logo"
width = "250"
height = "125">
<b>Anton Lending</b>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	     <span class="navbar-toggler-icon"></span>
	 </button>
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
	         <li class="nav-item">
                     <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="AboutUs">About Us</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="Statistics">Statistics</a>
		</li>
                 <li class="nav-item">
		    <a class="nav-link" href="Staff">Staff</a>
		</li>
	    </ul>
        </div>
    </nav>
    </h1>
  <div class="welcome">
    <h1> Loan acceptance prediction form:</h1>
	<hr>
      <form method="post">
  Name: <input name="name"/>
  <br/><br/>
  Email: <input name="email"/>
  <br/><br/>
<label for="gender">Gender:</label>
    <select name="gender" id="gender">
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>
  <br/><br/>
  <label for="married">Married:</label>
    <select name="married" id="married">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
  <br/><br/>
 <label for="dependents">Dependents:</label>
    <select name="dependents" id="dependents">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3+</option>
    </select>
  <br/><br/>
<label for="education">Education:</label>
    <select name="education" id="education">
        <option value="1">Graduated</option>
        <option value="0">Not Graduated</option>
    </select>
  <br/><br/>
 <label for="self-employed">Self-Employed:</label>
    <select name="self-employed" id="self-employed">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
  <br/><br/>
  Income: <input name="ApplicantIncome"/>
  <br/><br/>
  Co-applicant income: <input name="CoapplicantIncome"/>
  <br/><br/>
  Loan Amount: <input name="LoanAmount"/>
  <br/><br/>
  Loan Amount Term: <input name="Loan_Amount_Term"/>
  <br/><br/>
 <label for="Credit_History">Credit_History:</label>
    <select name="Credit_History" id="Credit_History">
        <option value="1">Good</option>
        <option value="0">Bad</option>
    </select>
  <br/><br/>
 <label for="Property_Area">Property Area:</label>
    <select name="Property_Area" id="Property_Area">
        <option value="urban">Urban</option>
        <option value="rural">Rural</option>
        <option value="semiurban">Semiurban</option>
    </select>
  <br/><br/>

  <button type="submit">Submit</button>
</form>
      <br>
  </div>